body {
    background: #f3f3fa;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}
/* Pendientes atrasados */
.celda-etapa-inicio {
    background-color: #fff3cd !important; 
    font-weight: 600;
}

/* Celda Estado Etapa: En proceso (Azul) */
.celda-etapa-en-proceso {
    background-color: #cfe2ff !important; 
    font-weight: 600;
}

/* Celda Estado Etapa: Finalizó (Verde) */
.celda-etapa-finalizó {
    background-color: #d1e7dd !important; 
    font-weight: 600;
}
.row-pendiente {
     background-color: #f8d7da !important; /* Rojo suave */
 }